---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>