---
import '../styles/global.css';


import Navigation from './components/Navigation.astro';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!--Remplazo de la Barra de navegacion por el Importe -->
    
    <Navigation />


    <h1>Pagina Astro</h1>
	<h2>bienvenidos a mi pagina</h2>
  </body>
</html>
